body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* -------------------------------- 

    My code

-------------------------------- */

.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

.alertMessage {
    color: white;
    font-size: 15px;
    background-color: #d9534f;
    border: 1px solid #d9534f;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.successMessage {
    color: white;
    font-size: 15px;
    background-color: #93c54b;
    border: 1px solid #93c54b;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 7px;
    /*margin-top: 20px;*/
    text-transform: none;
}

.btn-default {
    color: #fff;
    background-color: #6c6d68;
    border-color: #dfd7ca;
}

label {
    font-weight: normal;
}

.form-control {
    height: 42px;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px 16px;
}

.form-control:focus {
    border-color: #93c54b;
}

.text-danger {
    color: #e20a0a;
}

.input-validation-error {
    border: 1px solid #e20a0a;
}

select.input-validation-error {
    border: 1px solid #e20a0a;
}

.validation-summary-valid {
    display:none;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}

.radio label, .checkbox label {
    padding-left: 30px;
}

a:hover, a:focus {
    color: #93c54b;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0px;
}

/* -------------------------------- 
    Tables
-------------------------------- */

#costCenters, #vehicles, #roles, #employees, #countryAllowance, #expenseCategory, #travelOrders {
    width: 900px;
    margin: 20px;
}

.controlButtons {
    float: right;
}

.btn-group .btn {
    transition: background-color .3s ease;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e6e6e6;
}

.panel-default {
    border-color: #e6e6e6;
}

.panel-table .panel-body {
    padding: 0;
}

.table > thead > tr > th {
    border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination {
    margin: 0;
}

.panel-body {
    padding: 0px;
}

.panel {
    margin-top: 20px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #e6e6e6;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.create-button.pull-right {
    margin-right: 82px;
}

.glyphicon {
    font-weight: normal;
}

/* -------------------------------- 
    Index page
-------------------------------- */

/*.introContent {
    margin-bottom: 200px;
}*/

.indexFooter {
    position: fixed;
    bottom: 0;
}

.introText {
    padding-bottom: 40px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #e6e6e6;
}

.navbar {
    border-width: 0 1px 4px 1px;
}

.navbar-inverse .navbar-brand {
    color: #93c54b;
    padding-right: 30px;
}

.navbar-inverse .navbar-brand:hover {
    color: #6b9430;
}

.navbar-brand {
    float: left;
    padding: 20px 15px;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    height: 60px;
}

.navbar .nav > li > a {
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}

.navbar .nav > li > a:hover {
    color: #93c54b;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #93c54b;
}

.dropdown-menu > li > a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    text-transform: none;
}

#navbarIcon {
    height: 50px;
}

.navbarIcon {
    height: 50px;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}
   
/* -------------------------------- 
    Register page
-------------------------------- */

.input-group-addon {
    border-radius: 8px;
    width: 88px;
}

#datetimepickerDateOfBirth {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

/* -------------------------------- 
    My Profile page
-------------------------------- */

#info {
    margin-top: 40px;
    margin-bottom: 25px;
    color: #93c54b;
}

.my-profile-panel {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0px;
}
.panel-heading-landing {
    background: #f7f7f7 !important; 
    padding: 20px !important; 
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important; 
    border: solid 2px #5CB85C !important; 
    border-bottom: none !important;
}
.panel-heading-landing-box {
    background: #5CB85C !important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #5CB85C !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #626367 !important;
    font-size: 25px;
    font-weight: bold;
}
.panel .panel-heading, .panel .panel-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    /*color: #fff;*/
}
.panel-body-landing {
    border: solid 2px #ccc !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    border: solid 2px #ccc !important; 
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    border-top: none !important;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* -------------------------------- 
    Travel Order
-------------------------------- */

#hiddenRegistrationDropdown, #hiddenMileageForm, #hiddenDepositField, #hiddenDepositForm {
    display: none;
}

#depositCheckbox {
    padding-top: 11px;
    padding-right: 247px;
    padding-left: 64px;
    transform: scale(1.5);
}

#datetimepickerDeparture {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}