@model IEnumerable<TRXpense.Bll.Model.ApplicationUser>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Employees in this Cost Center:</h4>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="modal-body">
            <table class="table">
                <thead>
                    <tr>
                        <td><h4>Name</h4></td>
                        <td><h4>OIB</h4></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.OIB</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
